﻿{ifset content}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{ifset title}{include title|stripHtml} | {/ifset}Fresh costs</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="{$basePath}/favicon.ico">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="{$basePath}/plugins/datatables/dataTables.bootstrap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{$basePath}/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{$basePath}/css/skins/_all-skins.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{$basePath}/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css">

  	
</head>

<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
	  		<header class="main-header">
	    		<!-- Logo -->
				<a href="/" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini"><b>F</b> c</span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><img src="{$basePath}/img/fresh_blk.svg" height="32" alt=""> <small>costs</small></span>
				</a>
				<!-- Header Navbar: style can be found in header.less -->
				<nav class="navbar navbar-static-top">
					<!-- Sidebar toggle button-->
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					    <span class="sr-only">Toggle navigation</span>
					</a>
					<div class="navbar-custom-menu">
					    <ul class="nav navbar-nav">
					        <!-- User Account: style can be found in dropdown.less -->
					        <li class="dropdown user user-menu">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					              	<img src="{$basePath}/img/user2-160x160.jpg" class="user-image" alt="User Image">
					              	<span class="hidden-xs">
					              		{$username}
					              	</span>
					            </a>
					            <ul class="dropdown-menu">
					              	<!-- User image -->
					              	<li class="user-header">
					                	<img src="{$basePath}/img/user2-160x160.jpg" class="img-circle" alt="User Image">
					                	<p>
					                  		{$username}
					                	</p>
					              	</li>
	              					<!-- Menu Footer-->
					              	<li class="user-footer">
					                	<div class="pull-left">
					                  		<a n:href="User:edit $user->id" class="btn btn-default btn-flat">Profil</a>
					                	</div>
					                	<div class="pull-right">
					                  		<a n:href="Sign:out" class="btn btn-default btn-flat">Odhlásit se</a>
					                	</div>
	              					</li>
	            				</ul>
	          				</li>
	        			</ul>
	      			</div>
	    		</nav>
	  		</header>
	  		<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">
			    <!-- sidebar: style can be found in sidebar.less -->
			    <section class="sidebar">
			      	<!-- Sidebar user panel -->
			      	<div class="user-panel">
			        	<div class="pull-left image">
			          		<img src="{$basePath}/img/user2-160x160.jpg" class="img-circle" alt="User Image">
			        	</div>
			        	<div class="pull-left info">
			          		<p>{$username}</p>
			        	</div>
			      	</div>
			      	<!-- sidebar menu: : style can be found in sidebar.less -->
			      	<ul class="sidebar-menu">
			        	<li class="header">MAIN NAVIGATION</li>
			        	<li {ifCurrent Homepage:}class="active"{/ifCurrent}>
			          		<a n:href="Homepage:">
			            		<i class="fa fa-dashboard"></i> <span>Úvodní strana</span>
			          		</a>
			        	</li>

			        	<li class="treeview {ifCurrent Cost:*}active{/ifCurrent}">
			          		<a href="#">
				            	<i class="fa fa-file-excel-o"></i>
				            	<span>Náklady</span>
				             	<span class="pull-right-container">
				             		<i class="fa fa-angle-left pull-right"></i>
				            	</span>
			          		</a>
			          		<ul class="treeview-menu">
			            		<li><a n:href="Cost:create" {ifCurrent Cost:create}class="active"{/ifCurrent}><i class="fa fa-circle-o"></i> Přidat náklad</a></li>
			            		<li><a n:href="Cost:default" {ifCurrent Cost:default}class="active"{/ifCurrent}><i class="fa fa-circle-o"></i> Seznam nákladů</a></li>
			            		<li n:if="$user->isInRole('admin')"><a n:href="Cost:allcosts" {ifCurrent Cost:default}class="active"{/ifCurrent}><i class="fa fa-circle-o"></i> Seznam všech nákladů</a></li>
			          		</ul>
			        	</li>
			        	<li class="treeview {ifCurrent Invoice:*}active{/ifCurrent}">
			          		<a href="#">
				            	<i class="fa fa-building-o"></i>
				            	<span>Faktury</span>
				             	<span class="pull-right-container">
				             		<i class="fa fa-angle-left pull-right"></i>
				            	</span>
			          		</a>
			          		<ul class="treeview-menu">
			            		<li><a n:href="Invoice:create" {ifCurrent Invoice:create}class="active"{/ifCurrent}><i class="fa fa-circle-o"></i> Nová faktura</a></li>
			            		<li><a n:href="Invoice:default" {ifCurrent Invoice:default}class="active"{/ifCurrent}><i class="fa fa-circle-o"></i> Seznam faktur</a></li>
			          		</ul>
			        	</li>					    
			        	<li class="treeview {ifCurrent Project:*}active{/ifCurrent}" n:if="$user->isInRole('admin')">
			          		<a href="#">
				            	<i class="fa fa-users"></i>
				            	<span>Projekty</span>
				             	<span class="pull-right-container">
				              		<i class="fa fa-angle-left pull-right"></i>
				            	</span>
			          		</a>
			          		<ul class="treeview-menu">
			            		<li><a n:href="Project:create" {ifCurrent Project:create}class="active"{/ifCurrent}><i class="fa fa-circle-o"></i> Přidat projekt</a></li>
			            		<li><a n:href="Project:default" {ifCurrent Project:default}class="active"{/ifCurrent}><i class="fa fa-circle-o"></i> Seznam projektů</a></li>
			          		</ul>
			        	</li>
			        	<li class="treeview {ifCurrent User:*}active{/ifCurrent}" n:if="$user->isInRole('admin')">
			          		<a href="#">
				            	<i class="fa fa-user"></i>
				            	<span>Uživatelé</span>
				             	<span class="pull-right-container">
				              		<i class="fa fa-angle-left pull-right"></i>
				            	</span>
			          		</a>
			          		<ul class="treeview-menu">
			            		<li><a n:href="User:create"><i class="fa fa-circle-o"></i> Přidat uživatele</a></li>
			            		<li><a n:href="User:default"><i class="fa fa-circle-o"></i> Seznam uživatelů</a></li>
			          		</ul>
			        	</li>
			      	</ul>
			    </section>
			    <!-- /.sidebar -->
			 </aside>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<section class="content-header">
					<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
		                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		                <h4 style="margin: 5px 0;">{$flash->message}</h4>
		            </div>
	            </section>
				{include content}
			<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<footer class="main-footer">
			    <div class="pull-right hidden-xs">
			      <b>Version</b> 1.0
			    </div>
			    <strong>Copyright &copy; 2017 Starytomas.cz & Lukaspavel.cz | All rights reserved. | Run on AdminLTE by <a href="http://almsaeedstudio.com">Almsaeed Studio</a></strong>
			</footer>
		<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	 <!-- jQuery 2.2.3 -->
	<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>

	<!-- jQuery UI 1.11.4 -->
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
		window.setTimeout(function() {
		    //$(".custom-alert").alert('close'); <--- Do not use this
		  
		    $(".alert").slideUp(500, function() {
		        $(this).remove();
		    });
		}, 3000);
	</script>
	<!-- Bootstrap 3.3.6 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- DataTables -->
	<script src="{$basePath}/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="{$basePath}/plugins/datatables/dataTables.bootstrap.min.js"></script>
	<script src="{$basePath}/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<!-- AdminLTE App -->
	<script src="{$basePath}/js/app.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{block scripts}{/block}
</body>
</html>
{/ifset}