{block content}
  <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
      <h1>
        Nástěnka
        <small>Vítejte v FRESH cost</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a n:href="Cost:create" class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-plus"></i></span>
            <div class="info-box-content">
              <h3 class="info-box-number" style="color: #333">Přidat nový náklad</h3>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
           <a n:href="Invoice:create" class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-building-o"></i></span>
            <div class="info-box-content">
              <h3 class="info-box-number" style="color: #333">Vytvořit novou fakturu</h3>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a n:href="Cost:default" class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-file-excel-o"></i></span>
            <div class="info-box-content">
              <h3 class="info-box-number" style="color: #333">Nepřiřazené náklady</h3>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a n:href="User:edit $user->id" class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
              <h3 class="info-box-number" style="color: #333">Nastavení fakturačních údajů</h3>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
        <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{$totalCosts} Kč</h3>

              <p>Celková vyfakturovaná částka</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
          </div>
        </div>
         <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{$totalInvoices}</h3>

              <p>Počet faktur</p>
            </div>
            <div class="icon">
              <i class="ion ion-clipboard"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{$unassignedCosts}</h3>

              <p>Nákladů čeká na přiřazení</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-paper"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Vyfakturované náklady v roce 2017 <span n:if="$user->isInRole('admin')"> - celkově ve firmě</span></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div id="line-chart" style="height: 300px;"></div>

            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Vyfakturované hodiny v roce 2017 <span n:if="$user->isInRole('admin')"> - celkově ve firmě</span></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div id="bar-chart" style="height: 300px;"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
        </div>
      </div>
      </section>
   {/block}    
  {block scripts}      
  <!-- FLOT CHARTS -->
  <script src="{$basePath}/plugins/flot/jquery.flot.min.js"></script>
  <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
  <script src="{$basePath}/plugins/flot/jquery.flot.resize.min.js"></script>
  <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
  <script src="{$basePath}/plugins/flot/jquery.flot.pie.min.js"></script>
  <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
  <script src="{$basePath}/plugins/flot/jquery.flot.categories.min.js"></script>      
  <!-- Page script -->
  <script>
    $(function () {      
  /*
       * LINE CHART
       * ----------
       */
      //LINE randomly generated data
    
      var line_data1 = {
        data: {$chart|noescape},
        color: "#3c8dbc"
      };
     
      $.plot("#line-chart", [line_data1], {
        grid: {
          hoverable: true,
          borderColor: "#f3f3f3",
          borderWidth: 1,
          tickColor: "#f3f3f3"
        },
        series: {
          shadowSize: 0,
          lines: {
            show: true
          },
          points: {
            show: true
          }
        },
        lines: {
          fill: false,
          color: ["#3c8dbc", "#f56954"]
        },
        yaxis: {
          show: true,
        },
        xaxis: {
          show: true
        }
      });
      //Initialize tooltip on hover
      $('<div class="tooltip-inner" id="line-chart-tooltip"></div>').css({
        position: "absolute",
        display: "none",
        opacity: 0.8
      }).appendTo("body");

      /* END LINE CHART */

          /*
       * BAR CHART
       * ---------
       */

      var bar_data = {
        data: {$chartSec|noescape},
        color: "#3c8dbc"
      };
      $.plot("#bar-chart", [bar_data], {
        grid: {
          borderWidth: 1,
          borderColor: "#f3f3f3",
          tickColor: "#f3f3f3"
        },
        series: {
          bars: {
            show: true,
            barWidth: 0.5,
            align: "center"
          }
        },
        xaxis: {
          mode: "categories",
          tickLength: 0
        }
      });
      /* END BAR CHART */  
      });

    /*
     * Custom Label formatter
     * ----------------------
     */
    function labelFormatter(label, series) {
      return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
          + label
          + "<br>"
          + Math.round(series.percent) + "%</div>";
    }
  </script>
  {/block}