{extends none}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"><!-- Theme style -->
  <link rel="stylesheet" href="{$basePath}/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="{$basePath}/plugins/iCheck/square/blue.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css">
    body {
      font-size: 13px;
      font-family: Arial;
    }
     table td, table th {
       padding: 5px;
     }
     h2 {
       font-size: 20px;
       font-family: Arial;
       font-weight: bold;
     }
     h3 {
       font-size: 16px;
       font-family: Arial;
       font-weight: bold;
     }
  </style>
</head>
<body>
  <h2 style="text-align: center;">Faktura číslo: {$invoice->number}</h2>
  <div style="float: left;width: 50%;">
    <h3>Dodavatel:</h3>
    <address>
        <strong>{$invoice->sup_name}</strong><br>
        {$invoice->sup_street}<br>
        {$invoice->sup_city}<br>
        {$invoice->sup_zip}<br>   
    </address>
    IČ: {$invoice->sup_ic}<br>
    Email: {$invoice->sup_email}
  </div>
  <div style="float: left;width: 50%;">
    <h3>Odběratel</h3>     
    <address>
      <strong>{$invoice->sub_name}</strong><br>
      {$invoice->sub_street}<br>
      {$invoice->sub_city}<br>
      {$invoice->sub_zip}<br>
    </address>
    IČ: {$invoice->sub_ic}<br>
    DIČ: {$invoice->sub_dic}
  </div>
  <hr>
  <div style="float: left;width: 50%;">
      <p>Živnostenský list vydal ŽÚ {$invoice->sup_tradeoffice}<br><br>
      Bankovní účet: <strong>{$invoice->sup_an}</strong><br>
      Variabilní symbol: <strong>{$invoice->number} </strong></p>
  </div>
  <div style="float: left;width: 50%;">
      <p>Způsob platby: <strong>převodem</strong><br><br>
      Datum vystavení: <strong>{$invoice->date|date:"d.n.Y"}</strong><br>
      Datum splatnosti: <strong>{$expirationdate|date:"d.n.Y"}</strong></p>
  </div>
  <hr> 
  <h3>Fakturuje vám:</h3>
  <table style="width: 100%" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Projekt</th>
      <th>Název</th>
      <th class="text-right" style="width:20%">Cena</th>
    </tr>
    </thead>
    <tbody>
    {foreach $invoiceItems as $cost}
      <tr>
        <td>{$cost->ref('project_id')->name}</td>
        <td>{$cost->name}</td>
        <td class="text-right">{$cost->price} Kč</td>
      </tr>
    {/foreach}
      <tr>
        <th colspan="2" style="color: #fff;background-color: #2b2b2b;">Celkem k úhradě:</th>
        <td style="color: #fff;background-color: #2b2b2b;" class="text-right">{$totalPrice} Kč</td>
      </tr>
    </tbody>
  </table>
  <p>Podnikatel neni plátcem DPH</p>
</body>
</html>

      
