{block scripts}
  <!-- page script -->
  <script>
    $(function () {
      $("#datatable").DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Czech.json"
        },
        responsive: true
      });
    });
  </script>
{/block}
{block content}
  <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
      <h1>
        Faktury
        <small>Seznam faktur</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Faktury</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Seznam vystavených faktur</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="datatable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Název</th>
                  <th>Datum</th>
                  <th class="text-right">Akce</th>
                </tr>
                </thead>
                <tbody>
                {foreach $invoices as $invoice}
                  <tr>
                    <td>{$invoice->id}</td>
                    <td>{$invoice->number}</td>
                    <td>{$invoice->date|date:'F j, Y'}</td>
                    <td class="text-right">
                      <a n:href="detail $invoice->id" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Detail</a>
                      <a n:href="delete $invoice->id" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Smazat</a>
                    </td>
                  </tr>
                {/foreach}
                </tbody>
                <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Název</th>
                  <th>Datum</th>
                  <th class="text-right">Akce</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

      
