{block content}
  <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
      <h1>
        Faktury
        <small>Seznam faktur</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Faktury</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
   <div class="row">
      <div class="col-md-12">
          <a n:href="Invoice:default">← zpět na výpis faktur</a>
        </div>
   </div>
<section class="invoice" style="margin: 10px 0px;">
       <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a n:href="assignCostsToInvoice! $invoice->id" class="btn btn-success pull-left">
            <i class="fa fa-plus"></i> Přiřadit náklady
          </a>
          <a n:href="printInvoiceToPdf! $invoice->id" class="btn btn-primary pull-right">
            <i class="fa fa-download"></i> Stáhnout v PDF
          </a>
        </div>
      </div>
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> Faktura číslo: {$invoice->number}
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">

        <div class="col-sm-6 ">
          <div class="box">
            <div class="box-header">
                <h3 class="box-title">Dodavatel:</h3>
            </div>
            <div class="box-body">
               <address>
                  <strong>{$invoice->sup_name}</strong><br>
                  {$invoice->sup_street}<br>
                  {$invoice->sup_city}<br>
                  {$invoice->sup_zip}<br>   
              </address>
              IČ: {$invoice->sup_ic}<br>
              Email: {$invoice->sup_email}
            </div>
          </div> 
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <div class="box">
            <div class="box-header">
                <h3 class="box-title">Odběratel</h3>
            </div>
            <div class="box-body">
              <address>
                <strong>{$invoice->sub_name}</strong><br>
                {$invoice->sub_street}<br>
                 {$invoice->sub_city}<br>
                {$invoice->sub_zip}<br>
              </address>
              IČ: {$invoice->sub_ic}<br>
              DIČ: {$invoice->sub_dic}
            </div>
          </div> 
        </div>
      </div>
      <!-- /.row -->
      <!-- info row -->
      <div class="row invoice-info">

        <div class="col-sm-6 ">
          <p>Živnostenský list vydal ŽÚ {$invoice->sup_tradeoffice}<br><br>
          Bankovní účet: <strong>{$invoice->sup_an}</strong><br>
          Variabilní symbol: <strong>{$invoice->number} </strong></p>
        </div>
       <div class="col-sm-6">
          <p>Způsob platby: <strong>převodem</strong><br><br>
          Datum vystavení: <strong>{$invoice->date|date:"d.n.Y"}</strong><br>
          Datum splatnosti: <strong>{$expirationdate|date:"d.n.Y"}</strong></p>
       </div>
       </div>
      <!-- /.row -->
      <!-- Table row -->
      <div class="row">
        <div class="col-md-12 table-responsive">
            <div class="box-header">
                <h3 class="box-title">Fakturuje vám:</h3>
            </div>
            <div class="box">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Projekt</th>
              <th>Název</th>
              <th class="text-right" style="width:50%">Cena</th>
            </tr>
            </thead>
            <tbody>
            {foreach $invoiceItems as $cost}
              <tr>
                <td>{$cost->ref('project_id')->name}</td>
                <td>{$cost->name}</td>
                <td class="text-right">{$cost->price} Kč</td>
              </tr>
            {/foreach}
              <tr >
                <th colspan="2" style="color: #fff;background-color: #2b2b2b;border: 0;">Celkem u úhradě:</th>
                <td style="color: #fff;background-color: #2b2b2b;border: 0;" class="text-right">{$totalPrice} Kč</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-12">
          <p>Podnikatel neni plátcem DPH</p>
          <p class="lead">Fakturu vystavil: {$invoice->sup_name}, dne: {$invoice->date|date:"d.n.Y"}</p>

        </div>
      </div>
      <!-- /.row -->

     
    </section>
    </section>