{block content}

  <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
      <h1>
        Projekty
        <small>{$project->name}</small>
        
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Projekty</a></li>
        <li class="active"{$project->name}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <div class="box-header">
              <a n:href="Project:default">← zpět na výpis projektů</a>
          </div> 
        </div>
        <div class="col-md-6 col-md-offset-3">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username text-center">{$project->name}</h3>
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{$project->income} Kč</h5>
                    <span class="description-text">Výnos</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{$totalcosts} Kč</h5>
                    <span class="description-text">Náklady</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">{$yield} Kč</h5>
                    <span class="description-text">Zisk</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Náklady projektu: {$project->name}</h3>
            </div>
             <div class="box-body">
            <!-- /.box-header -->
            <table id="datatable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Uživatel</th>
                  <th>Název</th>
                  <th class="text-right">Cena</th>
                </tr>
                </thead>
                <tbody>
                <!-- form start -->
                {foreach $costs as $cost}
                  <tr>
                    <td>{$cost->ref('user')->username}</td>
                    <td>{$cost->name}</td>
                    <td class="text-right">{$cost->price} Kč</td>
                  </tr>
                {/foreach}
                </tbody>
            </table>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-12">
          <a n:href="Project:default">← zpět na výpis projektů</a>
        </div>
      </div>
      <!-- /.row -->
    </section>

      
