{block content}

  <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
      <h1>
        Projekty
        <small>{$project->name}</small>
        
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Projekty</a></li>
        <li class="active"{$project->name}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <div class="box-header">
              <a n:href="Project:default">← zpět na výpis projektů</a>
          </div> 
        </div>
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Upravit - {$project->name}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {control projectForm}
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-12">
          <a n:href="Project:default">← zpět na výpis projektů</a>
        </div>
      </div>
      <!-- /.row -->
    </section>

      
